@use '@angular/material' as mat;

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.content {
  width: 100%;
  height: 100%;
}

mat-toolbar {
  display: flex;
  justify-content: start;
  gap: 5%;
  padding-left: 5%;
  @include mat.toolbar-overrides((
    container-background-color: #a0a5a8,
    container-text-color: #000000,
  ));
}

.toolbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1000;
}

mat-toolbar {

}
